@charset "UTF-8";

.formnav1 {
	margin: 0;
	padding: auto;
}	
.addtable{ 
   margin: 0 50px 5px 0;
   float: left;
}
.koumoku{
    margin: 0 150px 5px 200px;
    float: left;
}
.koumoku2{
	margin: 0 150px 5px 50px;
}
.colname1{
	margin:0 0 10px 50px;
	float: left;
}
.mainkey1{
	margin: 0 60px 10px 60px;
	padding: auto;
	float: left;
}
.mainkey2{
	margin: 0 60px 10px 60px;
	padding: auto;
	float: left;
}
