@charset "UTF-8";

.formnav1 {
	margin: 0;
	padding: auto;
}	
.addtable{ 
   margin: 0 50px 5px 0;
   float: left;
}
.koumoku{
    margin: 0 150px 5px 200px;
    float: left;
}
.koumoku2{
    margin: 0 150px 5px 200px;
}
.colname1{
	margin:0 0 0 50px;
	float: left;
}
.mainkey1{
	margin: 0 60px 0 60px;
	padding: auto;
	float: left;
}
.mainkey2{
	margin: 0 60px 0 60px;
	padding: auto;
	float: left;
}
.sentaku01{
	margin:0 10px 20px 0;
	float: left;
}
.sentaku02{
	margin:auto;
	padding:auto;
}
