@charset "utf-8";

a{
    margin:10px 0 0 10px;
    word-wrap: break-word;
    text-decoration: none;
}
textarea{
    resize: none;
}
form{
    margin:10px 0 0 10px;
    padding: 0;
    /*border: 1px solid #808080;*/
}
form li{
    list-style: none;
}