#ASarea{
      display: flex;     
}

.addselect{
    border-radius: 30px;
    border-color: darkgrey;
    padding: 0;
    margin: 5px 0 10px 0;
    font-size: 0.8rem;
    width:100px;
}

.addAS{
    border-radius: 30px;
    border-color: darkgrey;
    padding: 0;
    margin: 5px 0 10px 0;
    font-size: 0.8rem;
    width:100px;
}

#ASarea input{
    display: flex;
    width: 100px; 
}
#join{
    /*border: 1px solid;
	border-color: #808080;*/
}
#wherebtn{
    margin:0;
    padding:0;
    /*display: flex;*/
    /*border: 1px solid;
	border-color: #808080;*/
}

#where{
    display: flex;
   /* border: 1px solid;
	border-color: #808080;*/
}

.addandor{
    border-radius: 30px;
    border-color: darkgrey;
    width:70px;
}
.addbetween{
    border-radius: 30px;
    border-color: darkgrey;
    width:80px;
}
.addIn{
    border-radius: 30px;
    border-color: darkgrey;
    width:50px;
}

.addlike{
    border-radius: 30px;
    border-color: darkgrey;
    width:50px;
}

#colom_area{
    display: flex;
}
#colom_area input{
    display: flex;
    width: 100px; 
}

#where select{
    display: flex;
}
.option-margin{
    margin:7px 10px 0 0;
}