#ASarea{
      display: flex;     
}

.addselect{
    border-radius: 30px;
}

.addAS{
    border-radius: 30px;
}

#ASarea input{
    display: flex;
    width: 100px; 
}
#join{
    display: flex;
}
#where{
    display: flex;
}

.addandor{
    border-radius: 30px;
}
.addbetween{
    border-radius: 30px;
}
.addIn{
    border-radius: 30px;
}

.addlike{
    border-radius: 30px;
}

#colom_area{
    display: flex;
}
#colom_area input{
    display: flex;
    width: 100px; 
}

#where select{
    display: flex;
}
.option-margin{
    margin:7px 10px 0 0;
}